.bg-theme {
  background-color: #1287a5;
}

.cart-icon {
  font-size: 1.5rem;
}

.hero-background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-warning {
  padding: 8px 35px;
}

.about-background {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-background {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-services {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50px;
  background-color: pink;
  margin: 50px;
}
